@import "tailwindcss";

:root {
  --color-primary: #008f6c;
  --color-primary-dark: #02543f;

  --color-secondary: #ffd12d;
  --color-secondary-light: #fcf6b8;

  --font-heading: "Bebas Neue", sans-serif;
  --font-body: "Inter", sans-serif;
}

body {
  font-family: var(--font-body);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
